* {
    margin: 0;
}
body {
    max-width: 1024px;
    margin: 0 auto;
}
header {
    background-color: #1C1C1C;
    height: 47px;
    display: 
}
nav li {
    display: inline;
    color: #009ACD;
    font-family: impact;
    font-size: 1.4em;
    margin: 0 5px;
    
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: crimson;
}
nav {
    width: 100%;
}
nav ul {
    width:100%;
    height: 47px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
header a{
    color:#009ACD;
}
#bg0 {
    background-image: url(bg4.jpg);
    background-position: center center;
    background-size: cover;
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg0_head {
    font-size: 4.5rem;
    font-family: comic sans MS, sans-serif;
    color: #CF000F;
    font-weight: 400;
    
}
#bg0 div:nth-of-type(2) {
    font-size: 2.5rem;
    font-family: comic sans MS, sans-serif;
}
#bg0 div:nth-of-type(3) {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 10px;
}
.small-image {
    width: 30px;
    height: 30px;
}
#bg0 p {
    text-align: center;
}
#bg1 {
    background-image: url(bg1.jpg);
    display: flex;
}
#bg1 div:nth-of-type(3) {
    color: purple;
}
#im {
    width: 20px;
    height: 20px;
}

#bg2 {
    background-color: #F5F5F5;
}
#bg2 div:nth-of-type(1) {
    display: flex;
}
#con1 p:nth-of-type(1) {
    margin-top: 10px;
    margin-left: 10px;
}
#con1 p:nth-of-type(2) {
    margin-top: 10px;
    margin-left: 10px;
}
#bg2 hr {
    width: 99%;
    border: 1px solid #828282;
    margin: 0 auto;
}
progress {
  background-color: #D3D3D3;
  border: 0;
}
progress::-webkit-progress-bar {
  background-color: #D3D3D3;
  border: 0;
}
progress::-webkit-progress-value {
    background-color:#4F4F4F;
}
.bg2_skills {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#bg3 {
    background-color: #FFFAFA;
    height: 1600px;
}
figcaption {
    text-align: center;
    padding-top: 15px;
    font-size: 150%;
    font-family: verdana;
    color: crimson;
}
#bg4 {
    background-color: #696969;
    height: 522px;
}
.small-image2 {
    width: 25px ;
    height: 25px;
}
.cstyle {
    font-family: Comic Sans MS,sans-serif;
    font-size: 18px;
}

h2 {
    font-family: courier new, sans-serif;
    font-size: 32px;
    color: black;
}
.small-image2 {
    width: 25px ;
    height: 25px;
}
.astyle {
    font-family: arial, sans-serif;
}
.bg2_skills h4 {
    font-family: verdana,sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.contact {
    color: white;
}
.contact p {
    font-size: 16px;
    font-family:  Comic Sans MS,sans-serif;
}
.contact h4 {
    font-family: verdana;
    font-size: 18px;
}
.social .socialcontact {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-top: 10px;
    position: relative;
}
.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    font-family: cursive;
    margin-bottom: 5px;
}
.btn {
    border: 2px solid green;
    color: green;
    font-family: georgia,sans-serif;
    background-color: white;
    border-radius: 7px;
    margin-top: 7px;
}
.footer {
    display: flex;
    justify-content:space-around;
}
.horline {
    margin: 0 auto;
    width: 98%;
    border: 1px solid black;
}
.copyright {
    display: flex;
}

