* {
    margin: 0;
}
body {
    max-width: 1024px;
    margin: 0 auto;
}
header {
    background-color: #1C1C1C;
    height: 47px;
}
nav li {
    display: inline;
    color: #009ACD;
    font-family: impact;
    font-size: 1.4em;
    
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: crimson;
}
nav ul {
    width:40%;
    height: 47px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    color:#009ACD;
}
#bg0 {
    background-image: url(bg3.jpg);
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bg0_head {
    font-size: 4.5rem;
    font-family: comic sans MS;
    color: #CF000F;
    font-weight: 400;
    
}
#bg0 div:nth-of-type(2) {
    font-size: 2.5rem;
    font-family: comic sans MS;
}
#bg0 div:nth-of-type(3) {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 10px;
}
.small-image {
    width: 30px;
    height: 30px;
}
#bg0 p {
    text-align: center;
}
#bg1 {
    background-image: url(bg1.jpg);
    display: flex;
}
#bg1 div:nth-of-type(3) {
    color: purple;
}
#im {
    width: 20px;
    height: 20px;
}

#bg2 {
    background-color: #F5F5F5;
}
#bg2 div:nth-of-type(1) {
    display: flex;
}
#con1 p:nth-of-type(1) {
    margin-top: 10px;
    margin-left: 10px;
}
#con1 p:nth-of-type(2) {
    margin-top: 10px;
    margin-left: 10px;
}
#bg2 hr {
    width: 99%;
    border: 1px solid #828282;
    margin: 0 auto;
}
progress {
  background-color: #D3D3D3;
  border: 0;
}
progress::-webkit-progress-bar {
  background-color: #D3D3D3;
  border: 0;
}
progress::-webkit-progress-value {
    background-color:#4F4F4F;
}
#skills {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
figcaption {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
#bg3 {
    background-color: #FFFAFA;
    height: 1900px;
}
#bg4 {
    background-color: #696969;
    height: 522px;
}
.small-image2 {
    width: 25px ;
    height: 25px;
}
.cstyle {
    font-family: Comic Sans MS;
    font-size: 18px;
}

.gstyle {
    font-family: courier new ;
    font-size: 32px;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
}
.small-image2 {
    width: 25px ;
    height: 25px;
}
.astyle {
    font-family: arial;
}
.skstyle {
    font-family: verdana;
    font-size: 16px;
    
}
#wt {
    color: white;
}
.pcol {
    font-size: 16px;
    font-family: Comic Sans MS;
}
.wtstyle {
    font-family: verdana;
    font-size: 18px;
}
#con4 div:nth-of-type(1) {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-top: 10px;
    position: relative;
}
#form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input1 {
    font-family: cursive;
    margin-bottom: 10px;
}
#input2 {
    font-family: cursive;
}
#bt {
    border: 2px solid green;
    color: green;
    font-family: georgia,sans-serif;
    background-color: white;
    border-radius: 7px;
    margin-top: 7px;
}
#footer {
    display: flex;
    justify-content:space-around;
}
#hor_line {
    margin: 0 auto;
    width: 98%;
    border: 1px solid black;
}
#copy_pos {
    display: flex;
}

