header {
    position: fixed;
    top: 0px;
    width:1024px;
    z-index: 1;
}
main {
    margin-top: 47px;
}
#bg0 hr {
    width: 60%;
    border: 1px solid #1C1C1C;
    margin: 0 auto;
}
.small-image {
    transition: transform, 0.1s, ease-in-out;
}
.small-image:hover {
    transform: scale(1.1);
}
#bg1 {
    height: 355px;
}
#bg1 img {
    width: 92%;
    min-width: 250px;
    height: auto;
}
#bg1 div:nth-of-type(2){
    align-self: center;
    width: 400px;
    margin-right: 50px;
    position: relative;
    right: 40px;
}
#bg1 div:nth-of-type(3){
    font-size: 23px;
    width: 37%;
    word-wrap: break-word;
    text-align: center;
    margin-top: 70px;
}
#bg2 {
    height: 949px;
    width: 100%;
}
#bg2 div:nth-of-type(1) {
    height: 250px;
    justify-content: space-between;
}

#con1 {
    margin-bottom: 60px;
    align-self: center;
}
#con1 p:nth-of-type(1) {
    margin-bottom: 30px;
}
#con2 {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 30px;
}
button {
    font-family: impact, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    box-shadow: 3px 3px #808080;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
button:hover {
    transform: scale(1.1);
    background-color:darkgray;
}
progress {
  height: 40px;
  width: 580px;
}
progress::-webkit-progress-bar {
  height: 40px;
  width: 580px;;
}
.bg2_skills {
    height: 600px;
    width: 100%;
}
#bg3 {
    max-height: 1150px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
figure {
    width:40%;
    height: 350px;
    display: inline-block;
}
.lg-im2 {
    display: block;
    width: 100%;
    height: 90%;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.lg-im2:hover {
    transform: scale(1.02);
    opacity: 0.7;
}
.container {
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#bg4 {
    background-color: #696969;
    height: 522px;
}
.footer {
    height: 430px;
}
.contact {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
}
.contact p {
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    padding-left: 10px;
    padding-top: 5px;
}
.social {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    align-items: flex-end;
}
.social .socialcontact {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-top: 10px;
    position: relative;
    left:45px;
}
.small-image2 {
    transition: transform, 0.1s, ease-in-out;
}
.small-image2:hover {
    transform: scale(1.1);
}
.box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form {
    width: 330px;
    height: 200px;
}
.input {
    width: 245px;
    height: 35px;
}
.btn {
    width: 245px;
    height: 35px;
}
.btn:hover {
    background-color: silver;
}
.copyright {
    padding-top: 17px;
    padding-left: 10px;
}